// font-size vars
$size60 = 60px
$size52 = 52px
$size50 = 50px
$size48 = 48px
$size40 = 40px
$size36 = 36px
$size32 = 32px
$size30 = 30px
$size28 = 28px
$size26 = 26px
$size24 = 24px
$size22 = 22px
$size20 = 20px
$size18 = 18px
$size16 = 16px
$size14 = 14px
$size12 = 12px
$size10 = 10px

// radius-size
$radius5 = 5px
